{# Setting DaisyUI Themes #}
{% set themes = ["default", "light", "dark", "synthwave", "cyberpunk", "valentine", "halloween", "forest", "dracula", "night", "coffee", "nord" ] %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sagemeister{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.webp') }}">
        
        {# Importing DaisyUI & Tailwind #}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        {# End of Importing DaisyUI & Tailwind #}
        
        {# Import Coloris #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
        <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
        {# End of Importing Coloris #}

        {# Importing Confetti.js #}
        <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
        {# End of Importing Confetti.js #}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar bg-base-300 mb-10">
            {# Home button #}
            <div class="navbar-start">
                <div class="dropdown dropdown-hover">
                    <div tabindex="0" role="button" class="btn btn-ghost">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h7" />
                        </svg>
                    </div>
                    <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-200 w-52 shadow">
                        <li>
                            <a href="/">
                                Homepage
                            </a>
                        </li>
                        <div class="divider">Abilities</div>
                        <li>
                            <a href="{{ path("ability_type_index") }}">
                                Ability Type
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navbar-center">
                <a href="/" class="flex justify-center items-center btn btn-ghost text-2xl">
                    <image class="rounded" width="35px" src="{{ asset('favicon.webp') }}"/>
                    <div>
                        Sagemeister
                    </div>
                </a>
            </div>

            <div class="navbar-end gap-2">
                {# Searchbar #}
                <div class="form-control">
                    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
                </div>

                {# Themes #}
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn m-1">
                        {{ ux_icon('la:brush') }} Theme
                        <svg
                        width="12px"
                        height="12px"
                        class="inline-block h-2 w-2 fill-current opacity-60"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 2048 2048">
                            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                        </svg>
                    </div>

                    <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] p-2 shadow-2xl">
                        {% for theme in themes %}
                            <li>
                                <input
                                    type="radio"
                                    name="theme-dropdown"
                                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                    aria-label={{ theme == 'default' ? 'System' : theme|capitalize }}
                                    value={{ theme }} />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
